:root {
  --background: #f5e4b0;
  --blue-accent: #45b7ca;
  --orange: #f58918;
  --yellow: #f7c40b;
  --red: #cc5050;
  --body-text: #110a02;
}

body {
  font-family: "Nunito", sans-serif;
  background-color: var(--background);
}


.link {
  text-decoration: none;
  color: var(--orange);
  transition: color 0.2s;
  /*background-color: color-mix(in srgb, var(--orange) 95%, white);*/
  padding: 8px;
  border-radius: 12px;
  border: none;
}

.link:hover {
  color: var(--red);
  transition: padding 0.2s, color 0.5s;
  padding: 10px;
}

.link-list {
  text-decoration: none;
  color: var(--orange);
  transition: color 0.2s;
  padding: 12px;
  width: 100%;
}

.link-list:hover {
  color: var(--red);
  background-color: color-mix(in srgb, var(--orange) 95%, white);
  transition: padding 0.2s, color 0.5s, background-color 0.3s;
  padding: 16px;
}

a {
  cursor: pointer;
}

.input {
  border-radius: 10px;
  outline: 2px solid #FEBF00;
  border: 0;
  background-color: #e2e2e2;
  outline-offset: 3px;
  padding: 10px 1rem;
  transition: 0.25s;
  margin: 6px;
}

.input:focus {
  outline-offset: 5px;
  background-color: #fff
}
